<a href="https://colab.research.google.com/github/JonesCM4/Data-Puzzles/blob/main/Data_Puzzles_Travel_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Geodesics

* Let's plan our next trip together!
* For this purpose, we have gathered a list of all the world's capital cities according to https://simplemaps.com/data/world-cities

Prerequisites:
* Basic geometry and geography knowledge.
* A bit of programming experience to transform data and think of a solution.

# Part 1: Can you get the two furthest capitals on Earth? (sea level)

In [ ]:
import numpy as np
import pandas as pd
from geopy import distance

In [ ]:
capitals_df = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/features/travel/worldcapitals_light.csv')

In [ ]:
capitals_df.head()

          city      lat       lng
0        Tokyo  35.6839  139.7744
1      Jakarta  -6.2146  106.8451
2       Manila  14.6000  120.9833
3        Seoul  37.5600  126.9900
4  Mexico City  19.4333  -99.1333